
@import "~react-responsive-carousel/lib/styles/carousel.min.css";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&family=Raleway:wght@100&display=swap');


.portal-container {
  display: flex;
  flex-direction: row;
  width: 100%; /* Ajusta el ancho al 100% del contenedor */
}

.conteudo{
width: 1000px;
padding-top: 3rem;
padding-left: 15px;
 


}

.carrousel{
display: grid;
grid-auto-flow: column;
scroll-behavior: auto;
gap: 0.8rem;
overflow-y: auto;
overscroll-behavior-x: contain;
scroll-snap-type: x mandatory;
scrollbar-width: none;

}

.carrousel::webkit-scrollbar {
display: none;
}

.img {
  width: 200px;
  height: 150px;
  border-radius: 15px;
  transition: transform 0.3s, box-shadow 0.3s, opacity 0.3s; /* Agrega transiciones suaves */
}

.img:hover {
  transform: scale(1.05); /* Escala ligeramente la imagen al pasar el cursor */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Agrega una sombra suave */
  opacity: 0.9; /* Reduce la opacidad ligeramente */
}

.info{
    text-align: left;
    padding: 30px;
}

.info h1 {
color: #FF6700;
font-family: Poppins;
font-size: 35px;
font-style: normal;
font-weight: 600;
line-height: normal;
}

.info h2 {
color: #FF6700;
font-family: Poppins;
font-size: 25px;
font-style: normal;
font-weight: 600;
line-height: normal;
}


.info p {
color: #616161;
font-family: Poppins;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: normal;

}

.left-block p {color: #616161;
font-family: Poppins;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: normal;}

.left-block h2 {
color: #FF6700;
font-family: Poppins;
font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: normal;
}

.right-column {
  flex: 1; /* Ocupa todo el espacio disponible */
  display: flex;
  flex-direction: column; /* Alinea los elementos en columna */
  align-items: flex-end; /* Alinea a la izquierda horizontalmente */
  padding-right: 20px;
  
}

.rectangle {
  position: absolute;
  right: 0; /* Posicionar a la derecha */
  width: 550px; /* Ajusta el ancho según tus necesidades */
  height: 1050px; /* Ocupa toda la altura de la ventana */
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  color: white;
  z-index: 1;
}

.left-column {
  flex: 1; /* Ocupa todo el espacio disponible */
  display: flex;
  flex-direction: column; /* Alinea los elementos en columna */
  align-items: flex-start; /* Alinea a la izquierda horizontalmente */
  padding-right: 20px; /* Agrega un padding derecho */
}

.rectangle-content h2 {
color: #FFF;
font-family: Poppins;
font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: normal;
padding-top: 20px;
padding-bottom: 20px;
}

.btn-overlay {
  
  background-color: transparent;
  border: 2px solid white;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  color: #FFF;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
 
}

.btn-overlay:hover {
  background-color: white;
  color: black;
}


.carousel-arrow {
  background-color: transparent;
  border: none;
  font-size: 24px;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  transition: color 0.3s;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

.carousel-arrow:hover {
  color: #ff6700;
}

.image-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px; /* Ajusta el margen según sea necesario */
}

.zoom-image {
  width: 300px; /* Ajusta el tamaño de las imágenes */
  height: 250px; /* Ajusta el tamaño de las imágenes */
  transition: transform 0.3s, box-shadow 0.3s; /* Agrega transiciones suaves */
}

.zoom-image:hover {
  transform: scale(1.1); /* Escala la imagen al pasar el cursor */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Agrega una sombra suave */
}
